@page
@model pruebadesarrollo.Pages.BorrarEmpleadoModel
@{
    ViewData["Title"] = "Borrar Empleado";
}

<div class="mx-auto rounded border p-4" style="width:400px">
    <h2 class="text-center mb-3">Borrar Empleado</h2>
    <hr>
    <p>¿Está seguro de borrar al empleado?</p>
    <p>ID empleado: @Model.ID</p> <!-- Mostramos el ID del empleado recibido desde el PageModel -->
    </hr>
    <form method="post">
        <div class="row">
            <div class="col-sm-6 d-grid">
                <!-- Botón de borrado que ejecutará el OnPost -->
                <button type="submit" class="btn btn-danger">Borrar</button>
            </div>
        </div>
    </form>
</div>
